language: php
sudo: required
install:
#  - mkdir -p tests/galen
 # - cd tests/galen
  - wget https://github.com/galenframework/galen/releases/download/galen-2.1.3/galen-bin-2.1.3.zip
  - unzip galen-bin-2.1.3.zip
  - cd ./galen-bin-2.1.3/
  - sudo ./install.sh
  - cd ..
  # Get Selenium
  - if [[ ! -e "$HOME/custom/selenium-server-standalone-2.44.0.jar" ]]; then wget --directory-prefix="$HOME/custom" http://selenium-release.storage.googleapis.com/2.44/selenium-server-standalone-2.44.0.jar; fi;
#  - java -jar $HOME/custom/selenium-server-standalone-2.44.0.jar -p 4444 > /dev/null 2>&1 &

  # Get phantomjs (Sticking with 1.9 series for now: there is no stable 2.x
  # series binary for Linux atm. DM 23/11/2015)
  - wget https://phantomjs.googlecode.com/files/phantomjs-1.9.2-linux-x86_64.tar.bz2
  - tar xjf phantomjs-1.9.2-linux-x86_64.tar.bz2
  - which phantomjs
  - phantomjs -v
  - pwd
script:
  #- ./run-tests.sh
  - cd test
  - pwd
  - galen test digest.test
